@page "/staffroles/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New StaffRoles</h3>
<br />

<FormComponent ButtonText="Create Staff Role" staffrole="staffrole" OnValidSubmit="@CreateStaffRole" />

@code {
    StaffRole staffrole = new StaffRole();

    private IList<StaffRole> StaffRoles;

    protected async override Task OnInitializedAsync()
    {
        StaffRoles = await _client.GetFromJsonAsync<List<StaffRole>>($"{Endpoints.StaffRolesEndpoint}");

    }

    private async Task CreateStaffRole()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffRolesEndpoint, staffrole);
        _navManager.NavigateTo("/staffroles/");
    }

}
