@page "/staffroles/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit StaffRole</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditStaffRole" staffrole="staffrole" />

@code {
    [Parameter] public int id { get; set; }
    StaffRole staffrole = new StaffRole();

    protected async override Task OnParametersSetAsync()
    {
        staffrole = await _client.GetFromJsonAsync<StaffRole>($"{Endpoints.StaffRolesEndpoint}/{id}");
    }
    async Task EditStaffRole()
    {
        await _client.PutAsJsonAsync($"{Endpoints.StaffRolesEndpoint}/{id}", staffrole);
        _navManager.NavigateTo("/staffroles/");
    }
}
