@page "/vehiclecategorys/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New VehicleCategorys</h3>
<br />

<FormComponent ButtonText="Create Vehicle Category" vehiclecategory="vehiclecategory" OnValidSubmit="@CreateVehicleCategory" />



@code {
    VehicleCategory vehiclecategory = new VehicleCategory();

    private IList<VehicleCategory> VehicleCategorys;

    protected async override Task OnInitializedAsync()
    {
        VehicleCategorys = await _client.GetFromJsonAsync<List<VehicleCategory>>($"{Endpoints.VehicleCategorysEndpoint}");

    }

    private async Task CreateVehicleCategory()
    {
        await _client.PostAsJsonAsync(Endpoints.VehicleCategorysEndpoint, vehiclecategory);
        _navManager.NavigateTo("/VehicleCategorys/");
    }

}
