@page "/vehiclecategorys/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit VehicleCategory</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditVehicleCategory" vehiclecategory="vehiclecategory" />

@code {
    [Parameter] public int id { get; set; }
    VehicleCategory vehiclecategory = new VehicleCategory();

    protected async override Task OnParametersSetAsync()
    {
        vehiclecategory = await _client.GetFromJsonAsync<VehicleCategory>($"{Endpoints.VehicleCategorysEndpoint}/{id}");
    }
    async Task EditVehicleCategory()
    {
        await _client.PutAsJsonAsync($"{Endpoints.VehicleCategorysEndpoint}/{id}", vehiclecategory);
        _navManager.NavigateTo("/vehiclecategorys/");
    }
}
