@page "/vehiclecategorys/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent vehiclecategory="vehiclecategory" Disabled="true" />

@code { 
    [Parameter] public int id { get; set; }
    VehicleCategory vehiclecategory = new VehicleCategory();

    protected async override Task OnParametersSetAsync()
    {
        vehiclecategory = await _client.GetFromJsonAsync<VehicleCategory>($"{Endpoints.VehicleCategorysEndpoint}/{id}");
    } }
