@page "/"
@inject HttpClient _client
@inject IJSRuntime JsRuntime

<div class="header">
    <div class="header-left">
        <h1>Cabify</h1>
    </div>
</div>

<div class="content">
    <div class="content-left">
        <h1>A <b style="color:yellow;">ride</b><br> for everyone.</h1>

        <a href="/bookings"><button class="booking-btn">Book Now</button></a>
    </div>
    <div class="content-right">
        <img style="border-radius:50px;" src="./images/istockphoto-1217653245-612x612.jpg" width="500">
    </div>
</div>

<div class="content-2">
    <div class="content-left-2">
        <img style="border-radius:50px;border: 2px solid black;" src="./images/signupimage.jpg" width="350">
    </div>
    <div class="content-right-2">
        <h1 style="font-weight:bolder;">A better way to travel</h1>
        <p class="signup-subtext">
            Our service is just a<br> few clicks away.
        </p>
        <a href="authentication/register"><button class="sign-up-btn">Register Now</button></a>
    </div>
</div>

<h1 class="category-title">Ride Categories</h1>
<div class="category-div">
    <div class="category">
        <a href="/vehiclecategorys/view/1"><img src="./images/categoryimage.png"></a>
        <p>Cabify Standard</p>
    </div>
    <div class="category">
        <a href="/vehiclecategorys/view/2"><img src="./images/categoryimage.png"></a>
        <p>Cabify Premium</p>
    </div>
    <div class="category">
        <a href="/vehiclecategorys/view/3"><img src="./images/categoryimage.png"></a>
        <p>Cabify Green</p>
    </div>
    <div class="category">
        <a href="/vehiclecategorys/view/4"><img src="./images/categoryimage.png"></a>
        <p>Cabify XL</p>
    </div>
</div>

<div class="footer">
    <div class="footer-info">&#169; Cabify 2023 </div>
</div>
