@page "/passengers/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Passengers</h3>
<br />

<FormComponent ButtonText="Create Passenger" passenger="passenger" OnValidSubmit="@CreatePassenger" />



@code {
    Passenger passenger = new Passenger();

    private IList<Passenger> Passengers;

    protected async override Task OnInitializedAsync()
    {
        Passengers = await _client.GetFromJsonAsync<List<Passenger>>($"{Endpoints.PassengersEndpoint}");

    }

    private async Task CreatePassenger()
    {
        await _client.PostAsJsonAsync(Endpoints.PassengersEndpoint, passenger);
        _navManager.NavigateTo("/passengers/");
    }

}
