@page "/passengers/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit Passenger</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditPassenger" passenger="passenger" />

@code {
    [Parameter] public int id { get; set; }
    Passenger passenger = new Passenger();

    protected async override Task OnParametersSetAsync()
    {
        passenger = await _client.GetFromJsonAsync<Passenger>($"{Endpoints.PassengersEndpoint}/{id}");
    }
    async Task EditPassenger()
    {
        await _client.PutAsJsonAsync($"{Endpoints.PassengersEndpoint}/{id}", passenger);
        _navManager.NavigateTo("/passengers/");
    }
}
